<div class="card bg-light mt-3 offset-1" style="max-width: 540px;">
  <div class="row no-gutters">
    <div class="col-3">
      <div class="col-12 text-muted my-1"><%= food.genre.name %></div>
      <% if food.image.present? %>
        <% unless food.image_data_include?("Parallel") || food.image_data_include?("Circle") %> <%# 構造式を非表示 %>
          <%= attachment_image_tag food, :image, :fill, 134, 134 %>
        <% end %>
      <% end %>
    </div>
    <div class="col-9">
      <div class="card-body pt-1 pr-1">
        <div class="text-right">
          <% if user_signed_in? %>
          <span id="favorite_<%= food.id %>"><%= render partial: 'public/favorites/favorite', locals:{ food: food } %></span>
          <% else %>
          <i class="fas fa-tag label_off"></i>
          <% end %>
        </div>
        <div class="card-title h5"><%= food.compound.name %></div>
        <div class="card-text my-3 h6">【効能】<%= food.function %></div>
        <div class="card-text my-3"><%= food.comment %></div>
        <div class="card-text">
          <span id="food_rate_<%= food.id %>" rate-score="<%= food.rate %>"></span>
        </div>
        <div class="card-text small text-muted text-right">
          <% if (user_signed_in? && (food.user_id == current_user.id)) || admin_signed_in? %>
            <%= link_to "編集", edit_food_path(food) , class: "btn btn-sm btn-success" %>
            <%= link_to "削除", food_path(food), method: :delete, class: "btn btn-sm btn-danger", data: { confirm: '削除しますか？' } %>
          <% elsif user_signed_in? && !(food.user_id == current_user.id) && food.user_id.present? %>
            <span class="relationship_<%= food.user_id %>">
              <%= render partial: 'public/relationships/relationship', locals:{ food: food } %>
            </span>
            <span><%= food.user.name %></span>
          <% end %>
          <span class="mx-1"><%= food.created_at.strftime("%Y/%m/%d") %></span>
        </div>
      </div>
    </div>
  </div>
</div>

<script>
  $('#food_rate_<%= food.id %>').empty();
  $('#food_rate_<%= food.id %>').raty({
    readOnly: true,
    score: function(){
      return $(this).attr('rate-score');
    },
    starOff:  '<%= asset_path('star-off.png') %>',
    starOn : '<%= asset_path('star-on.png') %>',
    starHalf: '<%= asset_path('star-half.png') %>',
  });
</script>