<div class="container">
  <div class="row">
    <div class="h2 col-12">一覧画面</div>
    <% @food_names.each do |name| %>
      <div class="mt-3 food_name">
        <span class="h5">【食品名】<%= name.name %></span>
        <span id="food_name_rate_<%= name.id %>" rate-score="<%= name.average_rate %>" class="ml-4"></span>
      </div>
      <% @foods.each do |food| %>
        <% if food.food_name == name %>
        <%= render partial: 'public/foods/food', locals:{ food: food } %>
        <% end %>
      <% end %>
    <% end %>
  </div>
</div>

<%= link_to "お気に入り", foods_path(id: :favorite) %>

<script>
<% @food_names.each do |name| %>
  $('#food_name_rate_<%= name.id %>').raty({
    readOnly: true,
    score: function(){
      return $(this).attr('rate-score');
    },
    path: '/assets/'
  });
<% end %>
</script>