<div class="container">
  <div class="row">
    <h2>詳細画面</h2>
    <div class="food">
      <%= @food.food_name.name %> <%= @food.rate %>
      <%= @food.compound.name %>
      <%= @food.genre.name %>
      <%= @food.function %>
      <%= @food.comment %>
      <%= @food.created_at %>
      <%= @food.user.name %>
      <%= link_to "編集", edit_food_path(@food) %>
      <%= link_to "削除", food_path, method: :delete %>
    </div>

  </div>
</div>