<div class="container">
  <div class="row">
    <div class="col-12 col-lg-9 order-lg-2">
      <div class="h2 col-12 mt-3">新着順</div>
      <div class="row mt-4">
        <% @new.each do |new| %>
          <%= render partial: 'top_food', locals:{ food: new } %>
        <% end %>
      </div>
      <div class="h2 col-12 mt-5">人気順</div><%# お気に入りの多い順 %>
      <div class="row mt-4">
      <% @favorite.first(3).each do |favorite| %>
        <%= render partial: 'top_food', locals:{ food: favorite } %>
      <% end %>
      </div>
    </div>
    <%= render partial: 'side_bar' %>
  </div>
</div>

<script>
<% @foods.each do |food| %>
  $('.food_rate_<%= food.id %>').empty();
  $('.food_rate_<%= food.id %>').raty({
    readOnly: true,
    score: function(){
      return $(this).attr('rate-score');
    },
    starOff:  '<%= asset_path('star-off.png') %>',
    starOn : '<%= asset_path('star-on.png') %>',
    starHalf: '<%= asset_path('star-half.png') %>',
  });
<% end %>
</script>